@import '~@angular/material/theming';
$app-primary: mat-palette($mat-indigo);

:host {
  display: block;
  outline: none;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {
  border-bottom: 1px solid #D3D3D3;

  .routeIcon {
    margin-right: 10px;
  }
}

.arrow-icon {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .expand-collapse-icon {
    display: flex;
    align-items: center;
  }
}
.menu-name {
  font-size: 15px;
}

.arrow {  
  width:120px;
  margin-right: -15px;
}

.point {
  position: relative;
  width: 0;
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid mat-color($app-primary, 100) !important;
 float:right;
}